<div class="onboarding-one">
    <div class="onboarding-one-body">
        <!-- <img src="../../../assets/images/onboarding-one.svg" alt=""> -->
        <div class="onboarding-one-body-text">
            <h2>Track Your Goal</h2>
            <p>
                Don't worry if you have trouble determining your goals, We can help you determine your goals and track
                your
                goals
            </p>
        </div>
    </div>
    <div class="onboarding-one-button">
        <app-button title=">" class="button-circle"></app-button>
    </div>
</div>