<div class="register-three">
    <div class="register-three-container">
        <div class="header-register-three">
            <h2>What is your goal?</h2>
            <p>It will help us to choose a best program for you</p>
        </div>

        <div class="carousel-register-three">
            <div class="carousel">
                <div class="img-container-carousel">
                    <img src="{{getImg('carousel-01')}}" alt="">
                </div>
                <div class="img-container-carousel">
                    <img src="{{getImg('carousel-02')}}" alt="">
                </div>
                <div class="img-container-carousel">
                    <img src="{{getImg('carousel-03')}}" alt="">
                </div>
            </div>
        </div>

        <app-button title="Confirm"></app-button>
    </div>
</div>