<div class="register-page-two">
    <div class="register-page-two-container">
        <div class="header-register-two">
            <h2>Let’s complete your profile</h2>
            <p>It will help us to know more about you!</p>
        </div>
        <div class="body-register-two">
            <div class="container-component-register-two">
                <img src="" alt="">
                <select name="choose-gender" id="choose-gender"></select>
            </div>
            <div class="container-component-register-two">
                <img src="" alt="">
                <input type="date" name="date-birth" id="date-birth" />
            </div>
            <div class="container-component-register-two">
                <img src="" alt="">
                <input type="number" name="your-weight" id="your-weight" />
                <app-button title="KG" class="button-square"></app-button>
            </div>
            <div class="container-component-register-two">
                <img src="" alt="">
                <input type="number" name="your-height" id="your-height" />
                <app-button title="CM" class="button-square"></app-button>
            </div>
        </div>
        <div class="footer-register-two">
            <app-button></app-button>
        </div>
    </div>
</div>