.register-page-two {  
    display: flex;
    flex-direction: column;
    background: url('../../../../assets/images/register-two.svg'), no-repeat ;
    background-position: top;
    // background-size:contain;
}
.register-page-two-container {

    height: 100vh;
}
.header-register-two {
    font-size: 1.8rem;
}
.body-register-two {
    width: 100%;
    font-size: 1.8rem;
}

.container-component-register-two {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.container-component-register-two input{
    width: 100%;
    height: 40px;
    font-size: 2rem;
    padding: .5rem;
    
}