<div class="register-page-two">
    <div class="register-page-two-container">
        <img src="{{getImg('register-two')}}" alt="">
        <div class="header-register-two">
            <h2>Let’s complete your profile</h2>
            <p>It will help us to know more about you!</p>
        </div>
        <div class="body-register-two">
            <div class="container-component-register-two">
                <img src="{{getIcon('2_User')}}" alt="">
                <select name="choose-gender" id="choose-gender">
                    <option value="01" disabled selected>Choose Gender</option>
                </select>
            </div>
            <div class="container-component-register-two">
                <img src="{{getIcon('Calendar')}}" alt="">
                <input type="date" name="date-birth" id="date-birth"/>
            </div>
            <div class="container-component-register-two">
                <img src="{{getIcon('Balance')}}" alt="">
                <input type="number" name="your-weight" id="your-weight" placeholder="Your Welght" />
                <app-button title="KG" class="button-square"></app-button>
            </div>
            <div class="container-component-register-two">
                <img src="{{getIcon('Swap')}}" alt="">
                <input type="number" name="your-height" id="your-height" placeholder="Your Height"/>
                <app-button title="CM" class="button-square"></app-button>
            </div>
        </div>
        <div class="footer-register-two">
            <app-button title = "Next >"></app-button>
        </div>
    </div>
</div>