.input-container {
  width: 100%;
  background: var(--gray-color-three);
  margin-top: 1.5rem;
  border-radius: 14px;
}

.input {
  width: 100%;
  padding: 1.5rem;
  border: none;
  outline: none;
  background: transparent;
}
