<div class="register-page-one">
    <header class="header-register-page-one">
        <h4 class="salutation-register-page-one">Hey there,</h4>
        <h2 class="title-register-page-one">Create an Account</h2>
    </header>
    <form action="" class="form-register-page-one">
        <app-input placeholder="First Name" type="text"></app-input>
        <app-input placeholder="Last Name" type="text"></app-input>
        <app-input placeholder="Email" type="email"></app-input>
        <app-input placeholder="Password" type="password"></app-input>
        <div class="checkbox-container">
            <input type="checkbox">
            <label for="check">By continuing you accept our <a href="#">Privacy Policy</a> and <a href="#">Term of Use</a></label>
        </div>
        <div class="buttons">
            <app-button title="Register"></app-button>
        </div>
    </form>
</div>