button {
    padding: 18px 129px;
    border: 0;
    border-radius: 99px;
    color: var(--white-color);
    font-weight: bold;
    background-image: linear-gradient( to right, var(--blue-color-two), var(--blue-color-one));
}
