<div class="onboarding-two">
    <div class="onboarding-two-body">
        <div class="onboarding-two-body-text">
            <h2>Get Burn</h2>
            <p>
                Let’s keep burning, to achive yours goals, it hurts only temporarily, if you give up now you will be in
                pain forever
            </p>
        </div>
    </div>
    <div class="onboarding-two-button">
        <app-button title=">" class="button-circle" progress="50" routerLink="/onboarding/three"></app-button>
    </div>
</div>