.onboarding-two {
    display: flex;
    flex-direction: column;
    background-position: top;
    background-size:contain;
    background: url('../../../assets/images/onboarding-two.svg') no-repeat;
}

.onboarding-two-body {
    height: 85vh;
    display: flex;
    align-items: flex-end;

}

.onboarding-two-body >  img {
    height: 100%;
}
.onboarding-two-body-text {
    margin: 6.4rem 3rem;
    font-size: 1.6rem;
}

.onboarding-two-button {
    background: transparent;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 15vh;
}

