.onboarding-four {
    display: flex;
    flex-direction: column;
    background: url('../../../assets/images/onboarding-four.svg') no-repeat;
    background-position: top;
    background-size:contain;
}

.onboarding-four-body {
    height: 85vh;
    display: flex;
    align-items: flex-end;

}

.onboarding-four-body >  img {
    height: 100%;
}
.onboarding-four-body-text {
    margin: 6.4rem 3rem;
    font-size: 1.6rem;
}

.onboarding-four-button {
    background: transparent;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 15vh;
}

