/* You can add global styles to this file, and also import other style files */

:root {
    --black-color: #1D1617;
    --gray-color-one: #7B6F72;
    --gray-color-two: #ADA4A5;
    --gray-color-three: #F7F8F8;
    --blue-color-one: #92A3FD;
    --blue-color-two: #9DCEFF;
    --purple-one: #C58BF2;
    --purple-two: #EEA4CE;
    --white-color: #F7F8F8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    height: 100%;
}